* {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#back{
    -fx-background-color: linear-gradient(to bottom right, #121212, #1e1e1e);
}

.anchor-pane {
    -fx-background-color: linear-gradient(to bottom, #1e3c72, #2a5298); /* Elegant gradient */
}

.list-view {
    -fx-background-color: #0f172a;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-border-color: #145DA0;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-cell-size: 50px;
}

.list-view .list-cell {
    -fx-alignment: center-left;
    -fx-padding: 10px 15px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

.list-view .list-cell:hover {
    -fx-background-color: #0f172a;
    -fx-text-fill: #1e3c72;
}

.list-view .list-cell:selected {
    -fx-background-color: #2a5298;
    -fx-text-fill: #0f172a;
}

.image-view {
    -fx-cursor: hand;
    -fx-background-radius: 50%;
}

.image-view:hover {
    -fx-opacity: 0.8;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
